<!-- Display the header as a one line navigation bar from left to right -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Show the TraMS logo -->
  <a routerLink="/"><img src="assets/trams-menu-logo.png" alt="TraMS" class="img-responsive img-max-height"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Show the navigation bar with the options including drop down menus as required -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- File Dropdown -->
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="fileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          File
        </a>
      </li>
      <!-- Tools Dropdown -->
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </a>
      </li>
      <!-- Help Dropdown -->
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="helpDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Help
        </a>
      </li>
      <!-- Dropdown menu to manage options -->
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage
        </a>
        Show the Upload GTFS file option
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLinkActive="active" routerLink="/upload">Upload Data File</a>
        </div>
      </li>-->
    </ul>
  </div>
</nav>
