<!-- Create a jumbotron component congratulating the user to starting their game -->
<div class="jumbotron text-center top-space">
    <h1 class="display-4 text-center"><img src="assets/trams-logo.png" alt="TraMS" class="img-responsive" style="max-height:80px;"></h1>
    <br/>
    <p class="lead left-space">Congratulations - {{getPlayerName()}} has been appointed Managing Director of {{getCompany()}}! <br/> Now you are ready to choose your scenario and prove that your new company can make public transport run on time!</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div *ngFor="let scenario of getScenarios()" class="col-sm-4 card-group">
            <div *ngIf="scenario" class="card">
                <div class="card-body">
                    <img src={{scenario.getImagePath()}} class="card-img-top" alt={{scenario.scenarioName}}>
                    <h5 class="card-title text-center top-space">{{scenario.getScenarioName()}}</h5>
                    <p class="card-text text-center">{{scenario.getDescription()}}</p>
                    <h5 class="text-center">Targets</h5>
                    <ol>
                        <li *ngFor="let target of scenario.getTargets()">{{target}}</li>
                    </ol>
                    <!-- Show start button -->
                    <div class="col text-center">
                        <button class="btn btn-primary btn-lg" type="submit" (click)="onScenarioSelect(scenario.getScenarioName())">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
