<!-- Show the header -->
<app-header></app-header>

<!-- Jumbotron with page title -->
<div class="jumbotron">
    <h1 class="display-4 text-center">Create New Route for {{getScenarioName()}}</h1>
</div>

<!-- Show an input box where the user can enter the route number. -->
<div class="form-group top-space m-5">
    <label for="routeNumber" style="font-weight: bold;">Route Number:</label>
    <input class="form-control" [(ngModel)]="routeNumber" type="text" id="routeNumber"/>
</div>

<!-- Show an input box where the user can choose the start stop -->
<div class="form-group top-space m-5">
    <label for="startStop" style="font-weight: bold;">Start Stop:</label>
    <select class="form-control" [(ngModel)]="startStop" id="startStop">
        <option *ngFor="let item of getScenarioStops()" [ngValue]="item.split(':')[0]">{{ item.split(":")[0] }}</option>
    </select>
</div>

