<!-- Show the header -->
<app-header></app-header>

<!-- Jumbotron with page title -->
<div class="jumbotron">
    <h1 class="display-4 text-center">Allocate Vehicle</h1>
</div>

<!-- Show an input box where the user can choose the route number -->
<div class="form-group top-space m-5">
    <label for="routeNumberList" style="font-weight: bold;">Route Number:</label>
    <select class="form-control" [(ngModel)]="selectedRouteNumber" id="routeNumberList">
      @for(item of this.getDefinedRouteNumbers(); track item) {
        <option [ngValue]="item">{{ item }}</option>
      }

    </select>
</div>

<!-- Show an input box where the user can choose the fleet number -->
<div class="form-group top-space m-5">
    <label for="fleetNumberList" style="font-weight: bold;">Fleet Number:</label>
    <select class="form-control" [(ngModel)]="selectedFleetNumber" id="fleetNumberList">
      @for(item of this.getDefinedFleetNumbers(); track item) {
        <option [ngValue]="item">{{ item }}</option>
      }
    </select>
</div>

<!-- Show an input box where the user can choose the tour number -->
<div class="form-group top-space m-5">
    <label for="tourNumberList" style="font-weight: bold;">Tour Number:</label>
    <select class="form-control" [(ngModel)]="selectedTourNumber" id="tourNumberList">
        <option value="" disabled selected>Select tour</option>
        @for(item of this.tours; track item) {
          <option [ngValue]="item">{{ item }}</option>
        }
    </select>
</div>

<!-- Submit button -->
<div class="center-button">
    <button type="submit" (click)="onSaveAllocation()" class="btn btn-primary btn-lg">Save Allocation</button>
</div>

<!-- Back to Management Screen button -->
<div class="center-button">
    <button class="btn btn-primary btn-lg" style="margin: 10px;" type="submit" (click)="backToManagementScreen()">Back to Management Screen</button>
</div>
