<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <p class="lead">Use Offline Mode</p>
        </div>
        <div class="col-sm-8">
            <!-- Rounded switch (Example from https://www.w3schools.com/howto/howto_css_switch.asp) -->
            <label class="switch">
                <input type="checkbox" checked="checked" (change)="changeOfflineMode($event)">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p class="lead" *ngIf="!isHideServerUrl()">Server URL</p>
        </div>
        <div class="col-sm-8">
            <input class="form-control" *ngIf="!isHideServerUrl()" [(ngModel)]="serverUrl" type="text" id="serverUrl" (change)="changeServerUrl($event)">
        </div>
    </div>

</div>
