<!-- Show the header -->
<app-header></app-header>

<!-- Jumbotron with page title -->
<div class="jumbotron">
    <h1 class="display-4 text-center">Messages</h1>
</div>

<div class="row">
    <div class="col-3 nav-background-color">
        <div class="m-5" >
          @if(getSelectedFolder()==='INBOX') {
            <h3 (click)="onInboxSelect()" ><fa-icon [icon]="faInbox"></fa-icon> INBOX</h3>
          }
          @else {
            <h5 (click)="onInboxSelect()" ><fa-icon [icon]="faInbox"></fa-icon> INBOX</h5>
          }
        </div>
        <div class="m-5">
          @if(getSelectedFolder()==='OUTBOX') {
            <h3 (click)="onOutboxSelect()"><fa-icon [icon]="faSnareFromSquare"></fa-icon> OUTBOX</h3>
          } @else {
            <h5 (click)="onOutboxSelect()"><fa-icon [icon]="faSnareFromSquare"></fa-icon> OUTBOX</h5>
          }
        </div>
        <div class="m-5">
          @if(getSelectedFolder()==='SENT ITEMS') {
            <h3 (click)="onSentSelect()"><fa-icon [icon]="faEnvelopeCircleCheck"></fa-icon> SENT ITEMS</h3>
          } @else {
            <h5 (click)="onSentSelect()"><fa-icon [icon]="faEnvelopeCircleCheck"></fa-icon> SENT ITEMS</h5>
          }
        </div>
        <div class="m-5">
          @if(getSelectedFolder()==='TRASH') {
            <h3 (click)="onTrashSelect()"><fa-icon [icon]="faTrash"></fa-icon> TRASH</h3>
          } @else {
            <h5 (click)="onTrashSelect()"><fa-icon [icon]="faTrash"></fa-icon> TRASH</h5>
          }
        </div>
    </div>
    <div class="col-9">
      @if(getDisplayMessages().length === 0 ) {
        <div>
          <h1>There are no messages in this folder.</h1>
        </div>
      }
        @for (message of getDisplayMessages(); track message ) {
          <div>
            <h2>{{message.getSubject()}}</h2>
            @if(message.getSender()) {
              <h6>From: {{message.getSender()}}</h6>
            }
            @if(message.getRecipient()) {
              <h6>To: {{message.getRecipient()}}</h6>
            }
            <h6>On: {{message.getDisplayDate()}}</h6>
            <p style="white-space: pre-wrap">{{message.getContent()}}</p>
          </div>
        }
    </div>
</div>

<div class="col text-center">
    <button class="btn btn-primary btn-lg" style="margin: 10px;" type="submit" (click)="backToManagementScreen()">Back to Management Screen</button>
</div>
