<!-- Show the header -->
<app-header></app-header>

<!-- Jumbotron with page title -->
<div class="jumbotron">
    <h1 class="display-4 text-center">View Timetable for Route {{getRouteNumber()}}</h1>
</div>

<!-- Drop down with list of stops -->

<!-- Component to choose date -->

<!-- Component to show the actual timetables. -->


<!-- Back to management screen button -->
<div class="col text-center">
    <button class="btn btn-primary btn-lg" style="margin: 10px;" type="submit" (click)="backToManagementScreen()">Back to Management Screen</button>
</div>

