<!-- Create a jumbotron component which welcomes the user to TraMS and is only shown as long the user has not clicked on anything -->
<div class="jumbotron left-space" *ngIf="!showOutlet">
  <h1 class="display-4" style="text-align: center; padding-top: 10px">Welcome to <img src="assets/trams-logo.png" alt="TraMS" class="img-responsive" style="max-height:80px;"></h1>
  <br/>
  <p class="lead">Bored of waiting in queues for public transport that always runs late? Do you think you could make public transport run on time? TraMS is your chance to prove it! It is a fun computer game where you run your own fictional transport company and have to ensure passengers arrive at their destination on-time! If your vehicles are delayed in traffic then you need to take action to get them back on schedule before your passengers get frustrated and leave for another transport operator. Can your transport operator stand the test of time or will your passengers take your company off the road/rails? Play TraMS and try to run a successful transport company now!</p>
</div>

<div class="container-fluid" *ngIf="!showOutlet">
    <div class="row">
        <div class="col-sm-6">
            <!-- New Game -->
            <div class="center-button big-top-space">
                <button class="btn btn-primary btn-lg" (click)="onNewGameClick()">New Game
                </button>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- Load Game -->
            <div class="center-button big-top-space">
                <button class="btn btn-primary btn-lg" (click)="fileInput.click()">Load Game
                </button>
            </div>
            <!-- Set the file content to the server -->
            <input hidden type="file" #fileInput (change)="onFileInput(fileInput.files)" />
        </div>
    </div>
</div>

<!-- Display the output of the link that the user clicked on -->
 <router-outlet (activate)='onActivate($event)'
                     (deactivate)='onDeactivate($event)'></router-outlet>
