<!-- Create a jumbotron component which welcomes the user to TraMS and is only shown as long the user has not clicked on anything -->
<div class="jumbotron left-space" *ngIf="!showOutlet">
  <h1 class="display-4" style="text-align: center; padding-top: 10px">Welcome to <img src="assets/trams-logo.png" alt="TraMS" class="img-responsive" style="max-height:80px;"></h1>
  <br/>
  <p class="lead">Bored of waiting in queues for public transport that always runs late? Do you think you could make public transport run on time? TraMS is your chance to prove it! It is a fun computer game where you run your own fictional transport company and have to ensure passengers arrive at their destination on-time! If your vehicles are delayed in traffic then you need to take action to get them back on schedule before your passengers get frustrated and leave for another transport operator. Can your transport operator stand the test of time or will your passengers take your company off the road/rails? Play TraMS and try to run a successful transport company now!</p>
</div>

<div class="container-fluid" *ngIf="!showOutlet">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">New Game</h5>
          <p class="card-text text-center">Start your own transport company and make it a big success.</p>
            <!-- Show an input box where the user can enter their company and their name. -->
          <div class="form-group top-space">
            <label for="companyName" style="font-weight: bold;">Company Name:</label>
            <input class="form-control" [(ngModel)]="companyName" type="text" id="companyName"/>
          </div>
          <!-- Show an input box where the user can enter their name. -->
          <div class="form-group top-space">
            <label for="playerName" style="font-weight: bold;">Player Name:</label>
            <input class="form-control" [(ngModel)]="playerName" type="text" id="playerName"/>
          </div>
          <!-- Show an input box where the user can choose their difficulty level -->
          <div class="form-group top-space">
            <label for="difficultyLevel" style="font-weight: bold;">Level:</label>
            <select class="form-control" [(ngModel)]="difficultyLevel" id="difficultyLevel">
              <option>Easy</option>
              <option>Intermediate</option>
              <option>Hard</option>
            </select>
          </div>
          <!-- Show an input box where the user can choose their starting time -->
          <div class="form-group top-space">
            <label for="startingDate" style="font-weight: bold;">Your Start Date:</label>
            <input class="form-control" [(ngModel)]="startingDate" type="date" id="startingDate"/>
          </div>
          <!-- Show start button -->
          <div class="center-button">
            <button
                  [disabled]="(companyName===undefined || companyName==='') || (playerName===undefined || playerName==='')"
                  type="submit"
                  class="btn btn-primary btn-lg"
                  (click)="onStartSubmit()"
            >Start</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title top-space text-center">Load Game</h5>
          <p class="card-text top-space text-center">Continue building your own transport company and make your customers happy.</p>
          <!-- Display a button with the name of the file or select if no file has been selected yet. -->
          <div class="center-button big-top-space">
            <button class="btn btn-primary btn-lg" (click)="fileInput.click()">
              {{ file ? file.name : 'Select' }}
            </button>
          </div>
          <!-- Set the file content to the server -->
          <input hidden type="file" #fileInput (change)="onFileInput(fileInput.files)" />
          <div class="center-button big-big-top-space">
            <!-- Show continue button -->
            <button
                    [disabled]="(file===null)"
                    type="submit"
                    class="btn btn-primary btn-lg"
                    (click)="onLoadSubmit()"
            >Continue</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Display the output of the link that the user clicked on -->
 <router-outlet (activate)='onActivate($event)'
                     (deactivate)='onDeactivate($event)'></router-outlet>
