<!-- Create a jumbotron component congratulating the user to starting their game -->
<div class="jumbotron">
    <h1 class="display-4"><img src="assets/trams-logo.png" alt="TraMS" class="img-responsive" style="max-height:80px;"></h1>
    <br/>
    <p class="lead">Congratulations - {{playerName}} has been appointed Managing Director of {{company}}! Now you are ready to choose your scenario and prove that your new company can make public transport run on time!</p>
</div>

<div class="container-fluid">
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <img src="assets/landuff-map-picture.jpg" class="card-img-top" alt="Landuff Map">
                <h5 class="card-title text-center">Landuff</h5>
                <p class="card-text">Landuff Town is a small town with a very friendly town council. They want to work with you in providing an efficient and effective transport service for Landuff Town.</p>
                <h5>Targets</h5>
                <ol>
                    <li>Serve all bus stops in Landuff.</li>
                    <li>Ensure a frequent service on all routes.</li>
                    <li>Ensure that passenger satisfaction remains above 70% at all times. </li>
                </ol>
                <!-- Show start button -->
                <button class="btn btn-primary btn-lg" type="submit" (click)="onScenarioSelect('Landuff')">Select</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <img src="assets/longts-map-picture.jpg" class="card-img-top" alt="Longts Map">
                <h5 class="card-title text-center">Longts City</h5>
                <p class="card-text">Longts City is a very large city. The city council are suspicious of your new company and you will need to impress them very quickly in order to establish a good working relationship.</p>
                <h5>Targets</h5>
                <ol>
                    <li>Serve all bus stops in Longts.</li>
                    <li>Ensure a very frequent service on all routes.</li>
                    <li>Ensure that passenger satisfaction remains above 50% at all times.</li>
                </ol>
                <!-- Show start button -->
                <button class="btn btn-primary btn-lg" type="submit" (click)="onScenarioSelect('Longts')">Select</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <img src="assets/mdorfcitymappic.jpg" class="card-img-top" alt="MDorf">
                <h5 class="card-title text-center">MDorf</h5>
                <p class="card-text">Millenium Dorf City is a small city. The city council are prepared to work with you providing that you can meet their targets within their timescales.</p>
                <h5>Targets</h5>
                <ol>
                    <li>Serve all bus stops in MDorf.</li>
                    <li>Ensure a frequent service on all routes.</li>
                    <li>Ensure that passenger satisfaction remains above 35% at all times.</li>
                </ol>
                <!-- Show start button -->
                <button class="btn btn-primary btn-lg" type="submit" (click)="onScenarioSelect('MDorf')">Select</button>
            </div>
        </div>
    </div>
</div>
</div>
