<!-- Show the header on the start page -->
<app-header></app-header>

<!-- Display a jumbotron component which explains what stops are and how they work in TraMS -->
<div class="jumbotron" >
  <h1 class="display-4 text-center">Stops</h1>
  <br/>
  <p class="lead">A stop is a location where customers can either start or finish using your services. Therefore you should aim to have as many stops as possible as near to your potential customers as possible. But don't forget if a stop is not served by any routes then customers will not use it!</p>
  <hr class="my-4">
  <p>Click on a stop to access more information about the stop as well as current departures and arrivals.</p>
</div>

<!-- Display the filter options -->
<div>
    <button class="btn btn-primary m-2" type="submit" *ngFor="let letter of alphabet" (click)="filterByLetter(letter)">{{ letter }}</button>
</div>

<!-- Display a table with a list of stop names that are currently available in TraMS. Clicking on the stop name
 brings up the stop information for that stop -->
<div class="row">
  <div class="col-md-5">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stopEl of stops, let i = index">
        <td><a style="cursor:pointer" [routerLink]="[i]" routerLinkActive="active">{{stopEl.name}}</a></td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Display the stop information when a user clicks on a stop -->
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>

    <div class="col text-center">
        <button class="btn btn-primary btn-lg" style="margin: 10px;" type="submit" (click)="backToManagementScreen()">Back to Management Screen</button>
    </div>
</div>

