<!-- Show the header on the start page -->
<app-header></app-header>

<!-- Create a jumbotron component which welcomes the user to TraMS and is only shown as long the user has not clicked on anything -->
<div class="jumbotron">
    <h1 class="display-4 text-center">Timetable Id: {{getSelectedRoute() + "/" + getScheduleId()}}</h1>
    <h2 class="display-5 text-center">Fleet Number: {{ getFleetNumber() }}</h2>
    <h2 class="display-5 text-center">Location: {{ getStop() }}</h2>
    <h2 class="display-5 text-center">Destination: {{ getDestination() }}</h2>
    <h2 class="display-5 text-center">Delay: {{ getDelay() }} mins</h2>
</div>

<div class="container-fluid">

    <div class="col text-center">
        <button class="btn btn-primary btn-lg" style="margin: 10px;" type="submit" (click)="contactVehicle()">Contact Vehicle</button>
    </div>

    <div class="col text-center">
        <button class="btn btn-primary btn-lg" style="margin: 10px;" type="submit" (click)="shortenService()">Shorten Service</button>
    </div>

    <div *ngFor="let message of getMessages(), let i = index">
        <p>{{message}}</p>
    </div>

    <div class="col text-center">
        <button class="btn btn-primary btn-lg" style="margin: 10px;" type="submit" (click)="backToSimulationScreen()">Back to Simulation Screen</button>
    </div>
</div>
