<!-- Create a jumbotron component which welcomes the user to TraMS and is only shown as long the user has not clicked on anything -->
<div class="jumbotron" *ngIf="!showOutlet">
  <h1 class="display-4">Welcome to <img src="assets/trams-logo.png" alt="TraMS" class="img-responsive" style="max-height:80px;"></h1>
  <br/>
  <p class="lead">Bored of waiting in queues for public transport that always runs late? Do you think you could make public transport run on time? TraMS is your chance to prove it! It is a fun computer game where you run your own fictional transport company and have to ensure passengers arrive at their destination on-time! If your vehicles are delayed in traffic then you need to take action to get them back on schedule before your passengers get frustrated and leave for another transport operator. Can your transport operator stand the test of time or will your passengers take your company off the road/rails? Play TraMS and try to run a successful transport company now!</p>
</div>

<div class="container-fluid" *ngIf="!showOutlet">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">New Game</h5>
          <p class="card-text">Start your own transport company and make it a big success.</p>
            <!-- Show an input box where the user can enter their company and their name. -->
          <div class="form-group">
            <label for="companyName">Company Name:</label>
            <input class="form-control" [(ngModel)]="companyName" type="text" id="companyName"/>
          </div>
          <!-- Show an input box where the user can enter their name. -->
          <div class="form-group">
            <label for="playerName">Player Name:</label>
            <input class="form-control" [(ngModel)]="playerName" type="text" id="playerName"/>
          </div>
          <!-- Show an input box where the user can choose their difficulty level -->
          <div class="form-group">
            <label for="difficultyLevel">Level</label>
            <select class="form-control" [(ngModel)]="difficultyLevel" id="difficultyLevel">
              <option>Easy</option>
              <option>Intermediate</option>
              <option>Hard</option>
            </select>
          </div>
          <!-- Show an input box where the user can choose their starting time -->
          <div class="form-group">
            <label for="startingDate">Your Start Date:</label>
            <input class="form-control" [(ngModel)]="startingDate" type="date" id="startingDate"/>
          </div>
          <!-- Show start button -->
          <button
                  [disabled]="(companyName===undefined || companyName==='') || (playerName===undefined || playerName==='')"
                  type="submit"
                  class="btn btn-primary btn-lg"
                  (click)="onStartSubmit()"
          >Start</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Load Game</h5>
          <p class="card-text">Continue building your own transport company and make your customers happy.</p>
          <br/><br/>
          <!-- Display a button with the name of the file or select if no file has been selected yet. -->
          <button class="btn btn-primary btn-lg" (click)="fileInput.click()">
            {{ file ? file.name : 'Select' }}
          </button>
          <!-- Set the file content to the server -->
          <input hidden type="file" #fileInput (change)="onFileInput(fileInput.files)" />
          <br/><br/><br/><br/>
          <!-- Show continue button -->
          <button
                  [disabled]="(file===null)"
                  type="submit"
                  class="btn btn-primary btn-lg"
                  (click)="onLoadSubmit()"
          >Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Display the output of the link that the user clicked on -->
 <router-outlet (activate)='onActivate($event)'
                     (deactivate)='onDeactivate($event)'></router-outlet>
