<!-- Create a jumbotron component which welcomes the user to TraMS and is only shown as long the user has not clicked on anything -->
<div class="jumbotron" *ngIf="!showOutlet">
  <h1 class="display-4">Welcome to <img src="assets/trams-logo.png" alt="TraMS" class="img-responsive" style="max-height:80px;"></h1>
  <br/>
  <p class="lead">Bored of waiting in queues for public transport that always runs late? Do you think you could make public transport run on time? TraMS is your chance to prove it! It is a fun computer game where you run your own fictional transport company and have to ensure passengers arrive at their destination on-time! If your vehicles are delayed in traffic then you need to take action to get them back on schedule before your passengers get frustrated and leave for another transport operator. Can your transport operator stand the test of time or will your passengers take your company off the road/rails? Play TraMS and try to run a successful transport company now!</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLinkActive="active" routerLink="/management" role="button">Continue</a>
  </p>
</div>

<!-- Display the output of the link that the user clicked on -->
 <router-outlet (activate)='onActivate($event)'
                     (deactivate)='onDeactivate($event)'></router-outlet>
