<!-- Show the header -->
<app-header></app-header>

<!-- Display a jumbotron component which explains what routes are and how they work in TraMS -->
<div class="jumbotron" >
  <h1 class="display-4">Routes</h1>
  <br/>
  <p class="lead">A route connects a series of stops with one another. This ensures that customers can travel between stops. If you want to run a successful transport company then you need to ensure that you are providing the routes that your potential customers need to fulfil their needs.</p>
  <hr class="my-4">
</div>

<!-- Display the filter options -->
<div>
    <button class="btn btn-primary m-2" type="submit" (click)="filterRoutes(true)">Day Routes</button>
    <button class="btn btn-primary m-2" type="submit" (click)="filterRoutes(false)">Night Routes</button>
</div>

<!-- Display the filter text option -->
<div class="form-group top-space m-5">
    <label for="filteredRouteNumber" style="font-weight: bold;">Filter by Route Number:</label>
    <input class="form-control" [(ngModel)]="filteredRouteNumber" type="text" id="filteredRouteNumber" (change)="filterRouteNumber()"/>
</div>

<!-- Display a table of all route numbers and the agency running the routes which are stored in TraMS -->
<table class="table">
  <thead class="thead-light">
    <tr>
        <th scope="col"></th>
        <th scope="col">Route Number</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Operator</th>
        <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let routeEl of getRoutes(), let i = index">
        <td>
            <i *ngIf="routeEl.isNightRoute()" class="icofont-night"></i>
            <i *ngIf="!routeEl.isNightRoute()" class="icofont-sun-alt"></i>
        </td>
        <td>{{routeEl.getRouteNumber()}}</td>
        <td>{{routeEl.getStartStop()}}</td>
        <td>{{routeEl.getEndStop()}}</td>
        <td>{{routeEl.getCompany()}}</td>
        <td>
            <button class="btn btn-info" style="margin: 3px;" type="submit" (click)="viewTimetable(routeEl.getRouteNumber())">View Timetable</button>
            <button class="btn btn-primary" style="margin: 3px;" type="submit" (click)="editRoute(routeEl.getRouteNumber())">Edit</button>
            <button class="btn btn-danger" style="margin: 3px;" type="submit" (click)="deleteRoute(routeEl.getRouteNumber())">Delete</button>
        </td>
    </tr>
  </tbody>
</table>

<div class="col text-center">
  <button class="btn btn-primary btn-lg" style="margin: 10px;" type="submit" (click)="backToManagementScreen()">Back to Management Screen</button>
</div>