<!-- Show the header on the start page -->
<app-header></app-header>

<!-- Create a jumbotron component which welcomes the user to TraMS and is only shown as long the user has not clicked on anything -->
<div class="jumbotron">
    <h1 class="display-4 text-center">Control Centre</h1>
    <h2 class="display-5 text-center">{{getCurrentDate()}}</h2>
    <h2 class="display-5 text-center">Balance: €{{getBalance()}}</h2>
    <div class="progress progress-bar-size">
        <div class="progress-bar bg-success w-100 progress-bar-text" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Passenger Satisfaction Rating - 100%</div>
    </div>
</div>

<div class="container-fluid top-space">
    <div class="row">
        <div class="alert alert-danger w-100 text-center" role="alert">
            Warning: No routes have been defined yet. Click "Create Route" to define a route.
        </div>
    </div>
    <div class="row">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Messages</h5>
                    <p class="card-text text-center">You can contact the local authority or other external partners via messages. Occasionally the external partners
                    will also contact you via messages.</p>
                    <!-- Show start button -->
                    <div class="col text-center">
                        <button class="btn btn-primary btn-lg button-margin" type="submit" (click)="onViewMessages()">Messages</button>
                        <button class="btn btn-primary btn-lg button-margin" type="submit">Resign</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Scenario</h5>
                    <p class="card-text text-center">View scenario information, game targets, the location map and the current live
                        situation in the scenario.</p>
                    <!-- Show start button -->
                    <div class="col text-center">
                        <button class="btn btn-primary btn-lg button-margin" type="submit" (click)="onViewInformation()">View Information</button>
                        <button class="btn btn-primary btn-lg button-margin" type="submit" (click)="onLocationMap()">Location Map</button>
                        <a class="btn btn-primary btn-lg button-margin" routerLinkActive="active" routerLink="/stops" role="button">View Stops</a>
                        <button class="btn btn-primary btn-lg button-margin" type="submit">Live Situation</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Routes</h5>
                    <p class="card-text text-center">Create routes, view/amend route timetables and remove routes.</p>
                    <!-- Show start button -->
                    <div class="col text-center">
                        <button class="btn btn-primary btn-lg button-margin" type="submit" (click)="onCreateRoute()">Create Route</button>
                        <a class="btn btn-primary btn-lg button-margin" routerLinkActive="active" routerLink="/routes" role="button">View Route Info</a>
                        <a class="btn btn-primary btn-lg button-margin" routerLinkActive="active" routerLink="/upload" role="button">Upload Data File</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="card-group w-100 top-margin">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Vehicles</h5>
                    <p class="card-text text-center">Purchase vehicles, view current vehicles and sell old vehicles.</p>
                    <!-- Show start button -->
                    <div class="col text-center">
                        <button class="btn btn-primary btn-lg button-margin" type="submit">Purchase</button>
                        <a class="btn btn-primary btn-lg button-margin" style="margin: 10px;" routerLinkActive="active" routerLink="/vehicles" role="button">View Depot</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Drivers</h5>
                    <p class="card-text text-center">Employ drivers, view current employees and sack drivers</p>
                    <!-- Show start button -->
                    <div class="col text-center">
                        <button class="btn btn-primary btn-lg button-margin" type="submit">Employ</button>
                        <a class="btn btn-primary btn-lg button-margin" style="margin: 10px;" routerLinkActive="active" routerLink="/drivers" role="button">View Drivers</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Allocations</h5>
                    <p class="card-text text-center">Allocate or deallocate vehicles to routes.</p>
                    <!-- Show start button -->
                    <div class="col text-center">
                        <button class="btn btn-primary btn-lg" type="submit">Change</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p>In this preview edition you can upload files according to the <a href="https://developers.google.com/transit/gtfs">General Transit Feed Specification (GTFS)</a> or the CSV file format and view routes, stops and vehicles.</p>
    </div>
</div>
