<br/><br/>

<div class="row">

    <div class="col">
        <!-- Show the name -->
        <h3 class="text-center">Name: {{getName()}}</h3>
        <!-- Show the contracted hours -->
        <h3 class="text-center">Contracted Hours: {{getContractedHours()}}</h3>
        <!-- Show the start date -->
        <h3 class="text-center">Start Date: {{getStartDate()}}</h3>
    </div>
</div>
<div class="col text-center">
    <button class="btn btn-primary btn-lg" style="margin: 10px;" type="submit" (click)="sackDriver()">Sack Driver</button>
</div>
